<div>

  <ng-container *ngFor="let beat of beatObj">
    <div [ngClass]="{active: beat.active}" id='beatIndicator'>{{ beat.index + 1 }}</div>
  </ng-container>

  <br />

  <!-- tempo label and input -->
  <ng-container>
    <label for="tempo">Tempo: </label>
    <!--
      Currently we need to stop the metronome to change the tempo
      this is due to the setInterval where the function timer is constant on instantiation.
      we can stop and start on tempo change like below.

      Also restart might be more descriptive to what is actually happening.
    -->
    <input id="tempo" #tempo (input)=setTempo(tempo.value) type="number" value="120" min="60" max="360" />

    <br/>

    <div *ngIf=!isStarted>
        <label for="beatsPerBar">Beats: </label>
        <input  id="beatsPerBar" #beatsPerBar (input)=setBeatsPerBar(beatsPerBar.value) type="number" value="4" min="2" max="64" />
    </div>
  </ng-container>

  <br/>

  <!-- interchangable stop start buttons -->
  <ng-container *ngIf=!isStarted>
    <button (click)=start()>Start</button>
  </ng-container>
  <ng-container *ngIf=isStarted>
      <button (click)=stop()>Stop</button>
  </ng-container>
  <br/>

  <br/>
  <!-- volume control -->
  <div>
    <ng-container>
        <label for="volume">Trashy Volume Control:  </label>
        <input id="volume" #volume (input)=audioClip.setVolume(volume.value) true type="range" min="0" max="100" step="2" />
      </ng-container>
  </div>

</div>
